<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" href="/embedded_assets/css/style.css">
</head>
<body>
  <div id="topbar" class="wide">
	<div class="container">
	  <div class="top-heading">
		<a href="/">{{.Name}}</a>
	  </div>
	  <div id="menu">
		<a href="/">Home</a>
		<a href="/projects">Projects</a>
		<a href="#">Blog</a>
		<a href="/help" class="last">Help</a>
	  </div>
	</div>
  </div>
  <div id="page" class="wide">
	<div class="container">
	  <div id="nav"></div>
	  {{.Body}}

	  {{if .HasProj}}
	    <h1>Projects</h1>
		<ul>
	      {{range .Projects}}
	        <li><a href="{{.Link}}">{{.Name}}</a></li>
		 {{end}}
		</ul>
	  {{end}}

	  {{if .HasMember}}
	    <h1>Members</h1>
		<ul>
	      {{range .Members}}
		    <li><a href="mailto:{{.Email}}" target="_top">{{.Email}}</a></li>
		 {{end}}
		</ul>
	  {{end}}
	</div>
  </div>
 <script type="text/javascript" src="/embedded_assets/js/main.js"></script>
</body>
</html>
